.App {
  text-align: center;
}
h1 {
  color: gray;
}
h2 {
  font-size: .8em;
}
a {
  color: inherit;
}
.PropName {
  font-weight: bold;
  color: #6264A7;
}
.Logo {
  font-size: 45pt;
  color: #6264A7;
}
.Error {
  color: red;
}

.Lite {
  background-color: #EEF1F5;
  color: #16233A
}
.Dark {
  background-color: #2B2B30;
  color: #FFFFFF;
};
